pipeline/apiRESTListUserForeach.json
{
	"name": "apiRESTListUserForeach",
	"properties": {
		"activities": [
			{
				"name": "Web list user page 1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://reqres.in/api/users?page=1",
					"method": "GET"
				}
			},
			{
				"name": "ForEach get user by page",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web list user page 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(1, activity('Web list user page 1').output.total_pages)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "apiRESTListUserbypage",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pageUrlService": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Others"
		},
		"annotations": []
	}
}