pipeline/apiRESTtoken3.json
{
	"name": "apiRESTtoken3",
	"properties": {
		"activities": [
			{
				"name": "Wee get token 2",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://restapi.adequateshop.com/api/authaccount/login",
					"method": "POST",
					"body": {
						"email": "ronydeveloper@gmail.com",
						"password": 123456
					}
				}
			},
			{
				"name": "Import users 2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wee get token 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('Wee get token 2').output.data.Token}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['name']"
								},
								"sink": {
									"name": "name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['email']"
								},
								"sink": {
									"name": "email",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['profilepicture']"
								},
								"sink": {
									"name": "profilepicture"
								}
							},
							{
								"source": {
									"path": "['location']"
								},
								"sink": {
									"name": "location"
								}
							},
							{
								"source": {
									"path": "['createdat']"
								},
								"sink": {
									"name": "createdat"
								}
							}
						],
						"collectionReference": "$['data']"
					}
				},
				"inputs": [
					{
						"referenceName": "RestRUsersAdequateshop",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "asqlttblUsersAdequate",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "Others"
		},
		"annotations": []
	}
}